<div class="container">
  
    <div class="item board">
        <div class="sss" *ngFor="let i of iter; let ix = index">
            <div *ngIf="getWall(ix)==1">
                <img class="walls" src="../../assets/wall.jfif">
            </div>
            <!-- <div *ngIf="getWall(ix)==0">
                <img class="walls" src="../../assets/grass.jpg">
                
            </div> -->
            <div class="stuffC" *ngIf="getStuff(ix)==9">
                <img class="char" [src]="charState">
            </div>
            <div class="stuff" *ngIf="getStuff(ix)==1">
                <img class="wumpus" src="../../assets/wumps.webp">
            </div>
            
            <!-- <p>d</p> -->
        
      
          </div>
          
    </div>
    <div class="item mind">

    </div>
    <div class="item board">
        <div class="sss" *ngFor="let i of iter; let ix = index">
            <!-- <div *ngIf="getWall(ix)==0">
                <img class="walls" src="../../assets/grass.jpg">
                
            </div> -->
            <div class="stuffC" *ngIf="getStuff(ix)==9">
                <img class="char" [src]="charState">
            </div>
            <div class="stuff" *ngIf="getStuff2(ix)==1">
                <img class="wumpus" src="../../assets/wumps.webp">
            </div>
            
            <!-- <p>d</p> -->
        
      
          </div>
          
    </div>
    <!-- <div class="item scrboard"></div> -->
</div>
